html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }

.navbar ul {
  background-color: #2C3E50;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
.navbar li {
  display: inline-block; }
.navbar a {
  display: inline-block;
  color: #FFFFFF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  border-bottom: 3px solid transparent; }
  .navbar a:hover {
    color: #16A085;
    border-bottom: 3px solid #16A085; }
.navbar img {
  position: relative;
  top: 1.3rem;
  margin-left: 1%;
  margin-right: 1%; }
.navbar .line {
  border: 0.7px solid #FFFFFF;
  display: block;
  width: 400px;
  margin-bottom: 1%; }

.divider-before-section, .divider-after-section {
  padding: 0;
  margin: 0;
  height: 5px;
  border: 1px solid #16A085;
  background-color: #16A085; }

.image-wrapper {
  position: relative; }
  .image-wrapper .introimg {
    display: block;
    width: 100%;
    height: auto; }
  .image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.6); }
    .image-wrapper .overlay h1, .image-wrapper .overlay h2, .image-wrapper .overlay p {
      text-transform: uppercase;
      font-size: 2.3rem;
      font-weight: bold;
      font-family: "Roboto Slab", serif;
      color: #FFFFFF;
      text-align: center;
      margin-top: 9%;
      margin-bottom: -1rem; }
    .image-wrapper .overlay h2, .image-wrapper .overlay p {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1.5rem;
      margin-bottom: 2rem; }
    .image-wrapper .overlay p {
      font-size: 1rem;
      font-weight: normal;
      text-transform: none;
      line-height: 1.6; }
    .image-wrapper .overlay .intro-buttons {
      text-align: center;
      word-spacing: 0.8rem;
      margin-top: 3.7%; }
      .image-wrapper .overlay .intro-buttons .large-button {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        color: #FFFFFF;
        border: 2px solid #16A085;
        background-color: transparent;
        border-radius: 0.2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1.7rem;
        padding-right: 1.7rem; }
        .image-wrapper .overlay .intro-buttons .large-button:hover {
          background-color: #16A085;
          cursor: pointer;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
      .image-wrapper .overlay .intro-buttons span {
        text-transform: uppercase;
        font-size: 1rem;
        color: #FFFFFF; }
      .image-wrapper .overlay .intro-buttons .jump-link {
        text-transform: uppercase;
        color: #FFFFFF;
        word-spacing: normal; }
        .image-wrapper .overlay .intro-buttons .jump-link:hover {
          color: #16A085;
          cursor: pointer;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.note-tickers {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .note-tickers ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    word-spacing: 2rem; }
  .note-tickers .tick {
    color: #16A085;
    margin-right: 0.5rem; }
  .note-tickers li {
    word-spacing: normal;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto Slab", serif; }

.main-content {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-top: 0.5px solid #16A085;
  border-bottom: 0.5px solid #16A085;
  background-color: #EEEFF1; }
  .main-content .content-notes {
    overflow: hidden;
    margin-bottom: 4%; }
    .main-content .content-notes h1, .main-content .content-notes .image-wrapper .overlay h2, .image-wrapper .overlay .main-content .content-notes h2, .main-content .content-notes .image-wrapper .overlay p, .image-wrapper .overlay .main-content .content-notes p {
      font-size: 1.75rem;
      font-weight: 500;
      font-family: "Roboto Slab", serif;
      text-align: center;
      margin-top: 5%; }
    .main-content .content-notes hr {
      width: 10%;
      height: 0.5px;
      border: 1px solid #16A085;
      background-color: #16A085; }
    .main-content .content-notes #box-notes {
      width: 80%;
      display: block;
      margin: 5% auto; }
      .main-content .content-notes #box-notes .note-one {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5); }
        .main-content .content-notes #box-notes .note-one .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-one .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-one .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-one .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-one .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-one .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-one .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-one .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-one .upper-bar .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-one .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-one .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-one .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-one .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-one .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-one .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-one .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-one .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-one .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-one .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-one .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-one .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-one .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-one .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-one .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-one p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-two {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #FFE4B5; }
        .main-content .content-notes #box-notes .note-two .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-two .title, .main-content .content-notes #box-notes .note-two .upper-bar .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-two .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-two .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-two .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-two .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-two .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-two .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-two .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-two .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-two .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-two .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-two .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-two .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-two .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-two .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-two .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-two .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-two .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-two .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-two .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-two .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-two .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-two .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-two p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-three {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #B0C4DE; }
        .main-content .content-notes #box-notes .note-three .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-three .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-three .title, .main-content .content-notes #box-notes .note-three .upper-bar .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-three .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-three .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-three .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-three .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-three .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-three .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-three .title .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-three .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-three .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-three .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-three .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-three .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-three .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-three .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-three .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-three .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-three .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-three .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-three .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-three .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-three .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-three p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-four {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #87CEFA; }
        .main-content .content-notes #box-notes .note-four .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-four .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-four .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-four .title, .main-content .content-notes #box-notes .note-four .upper-bar .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-four .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-four .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-four .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-four .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-four .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-four .title .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-four .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-four .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-four .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-four .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-four .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-four .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-four .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-four .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-four .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-four .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-four .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-four .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-four .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-four .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-four p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-five {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #F0E68C; }
        .main-content .content-notes #box-notes .note-five .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-five .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-five .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-five .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-five .title, .main-content .content-notes #box-notes .note-five .upper-bar .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-five .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-five .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-five .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-five .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-five .title .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-five .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-five .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-five .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-five .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-five .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-five .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-five .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-five .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-five .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-five .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-five .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-five .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-five .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-five .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-five p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-six {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #7FFFD4; }
        .main-content .content-notes #box-notes .note-six .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-six .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-six .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-six .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-six .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-six .title, .main-content .content-notes #box-notes .note-six .upper-bar .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-six .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-six .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-six .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-six .title .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-six .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-six .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-six .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-six .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-six .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-six .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-six .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-six .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-six .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-six .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-six .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-six .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-six .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-six .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-six p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-seven {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #FFC0CB; }
        .main-content .content-notes #box-notes .note-seven .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-seven .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-seven .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-seven .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-seven .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-seven .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-seven .title, .main-content .content-notes #box-notes .note-seven .upper-bar .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-seven .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-seven .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-seven .title .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-seven .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-seven .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-seven .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-seven .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-seven .title .title, .main-content .content-notes #box-notes .note-eight .upper-bar .note-seven .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-seven .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-seven .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-seven .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-seven .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-seven .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-seven .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-seven .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .note-seven .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-seven p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
      .main-content .content-notes #box-notes .note-eight {
        background-color: #FFFFFF;
        width: 23%;
        height: 20rem;
        border-bottom: 1px solid #16A085;
        border-radius: 0.3rem;
        float: left;
        margin-left: 1.62%;
        margin-bottom: 2%;
        -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
        background-color: #FA8072; }
        .main-content .content-notes #box-notes .note-eight .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-eight .title, .main-content .content-notes #box-notes .note-eight .upper-bar .title {
          width: 100%;
          background-color: #16A085;
          height: 2.2rem;
          border-bottom: 1px solid #16A085;
          border-top-left-radius: 0.2rem;
          border-top-right-radius: 0.2rem; }
          .main-content .content-notes #box-notes .note-eight .upper-bar .title, .main-content .content-notes #box-notes .note-one .upper-bar .note-eight .title .title, .main-content .content-notes #box-notes .note-two .upper-bar .note-eight .title .title, .main-content .content-notes #box-notes .note-three .upper-bar .note-eight .title .title, .main-content .content-notes #box-notes .note-four .upper-bar .note-eight .title .title, .main-content .content-notes #box-notes .note-five .upper-bar .note-eight .title .title, .main-content .content-notes #box-notes .note-six .upper-bar .note-eight .title .title, .main-content .content-notes #box-notes .note-seven .upper-bar .note-eight .title .title {
            background-color: #FFFFFF;
            width: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
            box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
          .main-content .content-notes #box-notes .note-eight .upper-bar h3, .main-content .content-notes #box-notes .note-one .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-two .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-three .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-four .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-five .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-six .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-seven .upper-bar .note-eight .title h3, .main-content .content-notes #box-notes .note-eight .upper-bar .title h3 {
            margin: 0;
            padding-top: 0.5rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            font-family: "Roboto Slab", serif; }
        .main-content .content-notes #box-notes .note-eight p {
          padding-left: 0.8rem;
          padding-right: 0.8rem;
          font-size: 1rem;
          font-family: "Roboto Slab", serif;
          text-transform: none;
          line-height: 1.6; }
  .main-content .small-line {
    width: 10%;
    position: relative;
    top: -1.5rem;
    height: 0.5px;
    border: 1px solid #16A085;
    background-color: #16A085; }

.main-description {
  overflow: hidden; }
  .main-description h1, .main-description .image-wrapper .overlay h2, .image-wrapper .overlay .main-description h2, .main-description .image-wrapper .overlay p, .image-wrapper .overlay .main-description p {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 5%; }
  .main-description hr {
    width: 10%;
    height: 0.5px;
    border: 1px solid #16A085;
    background-color: #16A085; }
  .main-description .articles {
    width: 80%;
    display: block;
    margin: 3% auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    text-transform: none;
    line-height: 1.6; }
    .main-description .articles .left-article-wrapper, .main-description .articles .right-article-wrapper {
      width: 50%;
      float: left;
      padding-left: 2rem; }
      .main-description .articles .left-article-wrapper h3, .main-description .articles .right-article-wrapper h3 {
        margin-bottom: 0.7rem; }
      .main-description .articles .left-article-wrapper p, .main-description .articles .right-article-wrapper p {
        margin: 0; }
    .main-description .articles .right-article-wrapper {
      float: right;
      padding-left: 1.5rem; }

.contact-section {
  margin-top: 5%;
  width: 100%;
  height: 16.5rem;
  background-color: #16A085;
  background: linear-gradient(to right, #2C3E50, #16A085);
  text-align: center;
  line-height: 1.6;
  font-family: "Roboto Slab", serif;
  color: #FFFFFF;
  font-size: 1.2rem; }
  .contact-section h1, .contact-section .image-wrapper .overlay h2, .image-wrapper .overlay .contact-section h2, .contact-section .image-wrapper .overlay p, .image-wrapper .overlay .contact-section p {
    position: relative;
    top: 1.2rem; }

.footer {
  margin-top: 6.5%;
  border-top: 4px solid #16A085;
  width: 100%;
  height: 15rem;
  background-color: #2C3E50; }
  .footer .footer-logo {
    display: block;
    float: left;
    margin-top: 6%;
    margin-left: 13%; }
  .footer .footer-list ul {
    list-style: none;
    margin-top: 3.5%;
    margin-left: 6%;
    padding: 0;
    float: left; }
  .footer .footer-list li {
    line-height: 2; }
  .footer .footer-list a {
    color: #FFFFFF;
    font-family: "Roboto Slab", serif;
    font-size: 0.9rem;
    text-decoration: none; }
    .footer .footer-list a:hover {
      color: #16A085;
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s; }
  .footer .footer-social .facebook {
    background: url(); }

/*# sourceMappingURL=main.css.map */
