html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(22, 160, 133, 0.5); }

.modal-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 30rem;
  max-width: 60rem;
  height: auto;
  max-height: 100%;
  background-color: #2c3e50;
  border: 3px solid #2C3E50;
  border-radius: 0.2rem;
  z-index: 999; }

.modal-content {
  width: 80%;
  display: block;
  margin: 5% auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 5.2rem;
  padding-right: 5.2rem; }
  .modal-content img {
    display: block;
    margin: 7% auto; }
  .modal-content h1, .modal-content h4, .modal-content .image-wrapper .overlay h2, .image-wrapper .overlay .modal-content h2, .modal-content .image-wrapper .overlay p, .image-wrapper .overlay .modal-content p {
    font-family: "Roboto Slab", serif;
    color: #16A085;
    margin: 5% auto 3% auto;
    font-weight: normal;
    text-align: center; }
  .modal-content h4 {
    font-weight: normal;
    color: #FFFFFF; }
    .modal-content h4 a {
      color: #16A085;
      text-decoration: none; }
      .modal-content h4 a:hover {
        color: #FFFFFF;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s; }
  .modal-content form .login-button, .modal-content form .close-button {
    margin-top: 2%;
    margin-bottom: 3%;
    float: left;
    width: 48%; }
  .modal-content form .close-button {
    float: right; }
  .modal-content form input[type], .modal-content form .close-btn {
    width: 100%;
    margin-top: 5%;
    padding: 0.6rem 0.6rem;
    border: 1px solid #2C3E50;
    border-radius: 0.2rem;
    outline: none; }
    .modal-content form input[type]:focus, .modal-content form .close-btn:focus {
      -webkit-box-shadow: inset 0px 0px 5px 1px rgba(22, 160, 133, 0.5);
      -moz-box-shadow: inset 0px 0px 5px 1px rgba(22, 160, 133, 0.5);
      -ms-box-shadow: inset 0px 0px 5px 1px rgba(22, 160, 133, 0.5);
      -o-box-shadow: inset 0px 0px 5px 1px rgba(22, 160, 133, 0.5);
      box-shadow: inset 0px 0px 5px 1px rgba(22, 160, 133, 0.5); }
  .modal-content form input[type=submit], .modal-content form [type=submit].close-btn {
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    background-color: #16A085;
    color: #FFFFFF; }
    .modal-content form input[type=submit]:active, .modal-content form [type=submit].close-btn:active {
      -webkit-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      -moz-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      -ms-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      -o-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      box-shadow: inset 0px 0px 5px 1px #2C3E50; }
    .modal-content form input[type=submit]:hover, .modal-content form [type=submit].close-btn:hover {
      background-color: #FFFFFF;
      color: #16A085;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s; }
  .modal-content form .close-btn {
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    background-color: #AC2925;
    color: #FFFFFF; }
    .modal-content form .close-btn:active {
      -webkit-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      -moz-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      -ms-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      -o-box-shadow: inset 0px 0px 5px 1px #2C3E50;
      box-shadow: inset 0px 0px 5px 1px #2C3E50; }
    .modal-content form .close-btn:hover {
      background-color: #FFFFFF;
      color: #AC2925;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s; }
  .modal-content form label {
    display: inline-block;
    width: 100%; }
  .modal-content form input[type=checkbox], .modal-content form [type=checkbox].close-btn {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -0.1rem; }
  .modal-content form .remember-me {
    font-family: "Roboto Slab", serif;
    color: #FFFFFF;
    padding-left: 2%;
    font-size: 0.9rem; }

.navbar ul {
  background-color: #2C3E50;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
.navbar li {
  display: inline-block; }
.navbar a {
  display: inline-block;
  color: #FFFFFF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  border-bottom: 3px solid transparent; }
  .navbar a:hover {
    color: #16A085;
    border-bottom: 3px solid #16A085; }
.navbar img {
  position: relative;
  top: 1.3rem;
  margin-left: 1%;
  margin-right: 1%; }
.navbar .line {
  border: 0.7px solid #FFFFFF;
  display: block;
  width: 400px;
  margin-bottom: 1%; }
.navbar .disabled {
  pointer-events: none;
  opacity: 0.5; }
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .navbar .line {
    display: inline-block;
    margin-top: 0.7rem; }
  .navbar li {
    display: block; }
  .navbar a {
    border-bottom: none; }
    .navbar a:hover {
      border-bottom: none; }
    .navbar a:last-child {
      padding-bottom: 1rem; }
    .navbar a:first-child {
      padding-top: 1rem; }
  .navbar img {
    display: none; } }
@media only screen and (min-width: 768px) {
  .navbar .line {
    width: 100px; } }
@media only screen and (min-width: 922px) {
  .navbar .line {
    width: 180px; } }
@media only screen and (min-width: 1200px) {
  .navbar .line {
    width: 300px; } }
@media only screen and (min-width: 1400px) {
  .navbar .line {
    width: 400px; } }
@media only screen and (min-width: 1600px) {
  .navbar .line {
    width: 500px; } }

.divider-before-section, .divider-after-section {
  padding: 0;
  margin: 0;
  height: 5px;
  border: 1px solid #16A085;
  background-color: #16A085; }

.image-wrapper {
  position: relative; }
  .image-wrapper .introimg {
    background: url("../../images/takingnotes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    width: 100%;
    height: 35.5rem; }
  .image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.6); }
    .image-wrapper .overlay .overlay-content {
      position: relative;
      top: 20%; }
    .image-wrapper .overlay h1, .image-wrapper .overlay .modal-content h4, .modal-content .image-wrapper .overlay h4, .image-wrapper .overlay h2, .image-wrapper .overlay p {
      text-transform: uppercase;
      font-size: 2.3rem;
      font-weight: bold;
      font-family: "Roboto Slab", serif;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: -1rem; }
    .image-wrapper .overlay h2, .image-wrapper .overlay p {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1.5rem;
      margin-bottom: 2rem; }
    .image-wrapper .overlay p {
      font-size: 1rem;
      font-weight: normal;
      text-transform: none;
      line-height: 1.6; }
    .image-wrapper .overlay .intro-buttons {
      text-align: center;
      word-spacing: 0.8rem;
      position: relative;
      top: 1.5rem; }
      .image-wrapper .overlay .intro-buttons .large-button {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        color: #FFFFFF;
        border: 2px solid #16A085;
        background-color: transparent;
        border-radius: 0.2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1.7rem;
        padding-right: 1.7rem; }
        .image-wrapper .overlay .intro-buttons .large-button:hover {
          background-color: #16A085;
          cursor: pointer;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
      .image-wrapper .overlay .intro-buttons span {
        text-transform: uppercase;
        font-size: 1rem;
        color: #FFFFFF; }
      .image-wrapper .overlay .intro-buttons .jump-link {
        text-transform: uppercase;
        color: #FFFFFF;
        word-spacing: normal; }
        .image-wrapper .overlay .intro-buttons .jump-link:hover {
          color: #16A085;
          cursor: pointer;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .image-wrapper .overlay h1, .image-wrapper .overlay .modal-content h4, .modal-content .image-wrapper .overlay h4, .image-wrapper .overlay h2, .image-wrapper .overlay p {
      font-size: 1.9rem; }
    .image-wrapper .overlay h2, .image-wrapper .overlay p {
      font-size: 1.1rem; }
    .image-wrapper .overlay p {
      font-size: 0.8rem; }
    .image-wrapper .overlay .intro-buttons .large-button {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      font-size: 0.9rem; }
    .image-wrapper .overlay .intro-buttons span {
      font-size: 0.9rem; }
    .image-wrapper .overlay .intro-buttons .jump-link {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 1600px) {
    .image-wrapper .overlay h1, .image-wrapper .overlay .modal-content h4, .modal-content .image-wrapper .overlay h4, .image-wrapper .overlay h2, .image-wrapper .overlay p {
      font-size: 2.5rem; }
    .image-wrapper .overlay h2, .image-wrapper .overlay p {
      font-size: 1.7rem; }
    .image-wrapper .overlay p {
      font-size: 1.2rem; }
    .image-wrapper .overlay .intro-buttons .large-button {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.9rem;
      padding-right: 1.9rem;
      font-size: 1.1rem; }
    .image-wrapper .overlay .intro-buttons span {
      font-size: 1.1rem; }
    .image-wrapper .overlay .intro-buttons .jump-link {
      font-size: 1.1rem; } }

.note-tickers {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .note-tickers ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    word-spacing: 2rem; }
  .note-tickers .tick {
    color: #16A085;
    margin-right: 0.5rem; }
  .note-tickers li {
    word-spacing: normal;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto Slab", serif; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .note-tickers li {
      font-size: 0.8rem; } }
  @media only screen and (min-width: 768px) and (max-width: 922px) {
    .note-tickers li {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 922px) and (max-width: 1200px) {
    .note-tickers li {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 1600px) {
    .note-tickers li {
      font-size: 1.2rem; } }

.main-content {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 150rem;
  height: auto;
  border-top: 0.5px solid #16A085;
  border-bottom: 0.5px solid #16A085;
  background-color: #EEEFF1; }
  .main-content .content-notes {
    overflow: hidden;
    margin-bottom: 4%; }
    .main-content .content-notes h1, .main-content .content-notes .modal-content h4, .modal-content .main-content .content-notes h4, .main-content .content-notes .image-wrapper .overlay h2, .image-wrapper .overlay .main-content .content-notes h2, .main-content .content-notes .image-wrapper .overlay p, .image-wrapper .overlay .main-content .content-notes p {
      font-size: 1.75rem;
      font-weight: 500;
      font-family: "Roboto Slab", serif;
      text-align: center;
      margin-top: 5%; }
    .main-content .content-notes hr {
      width: 10%;
      height: 0.5px;
      border: 1px solid #16A085;
      background-color: #16A085; }
    .main-content .content-notes #box-notes .note-one, .main-content .content-notes #box-notes .note-two, .main-content .content-notes #box-notes .note-three, .main-content .content-notes #box-notes .note-four, .main-content .content-notes #box-notes .note-five, .main-content .content-notes #box-notes .note-six, .main-content .content-notes #box-notes .note-seven, .main-content .content-notes #box-notes .note-eight {
      background-color: #FFFFFF;
      width: 23%;
      height: 20rem;
      border-bottom: 1px solid #16A085;
      border-radius: 0.3rem;
      float: left;
      margin-left: 1.62%;
      margin-bottom: 2%;
      -webkit-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
      -moz-box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5);
      box-shadow: 5px 5px 25px 5px rgba(46, 61, 73, 0.5); }
      .main-content .content-notes #box-notes .note-one .upper-bar, .main-content .content-notes #box-notes .note-two .upper-bar, .main-content .content-notes #box-notes .note-three .upper-bar, .main-content .content-notes #box-notes .note-four .upper-bar, .main-content .content-notes #box-notes .note-five .upper-bar, .main-content .content-notes #box-notes .note-six .upper-bar, .main-content .content-notes #box-notes .note-seven .upper-bar, .main-content .content-notes #box-notes .note-eight .upper-bar, .main-content .content-notes #box-notes .note-one .upper-bar .title, .main-content .content-notes #box-notes .note-two .upper-bar .title, .main-content .content-notes #box-notes .note-three .upper-bar .title, .main-content .content-notes #box-notes .note-four .upper-bar .title, .main-content .content-notes #box-notes .note-five .upper-bar .title, .main-content .content-notes #box-notes .note-six .upper-bar .title, .main-content .content-notes #box-notes .note-seven .upper-bar .title, .main-content .content-notes #box-notes .note-eight .upper-bar .title {
        width: 100%;
        background-color: #16A085;
        height: 2.2rem;
        border-bottom: 1px solid #16A085;
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem; }
        .main-content .content-notes #box-notes .note-one .upper-bar .title, .main-content .content-notes #box-notes .note-two .upper-bar .title, .main-content .content-notes #box-notes .note-three .upper-bar .title, .main-content .content-notes #box-notes .note-four .upper-bar .title, .main-content .content-notes #box-notes .note-five .upper-bar .title, .main-content .content-notes #box-notes .note-six .upper-bar .title, .main-content .content-notes #box-notes .note-seven .upper-bar .title, .main-content .content-notes #box-notes .note-eight .upper-bar .title {
          background-color: #FFFFFF;
          width: 50%;
          display: block;
          margin: 0 auto;
          border-radius: 0;
          -webkit-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
          -moz-box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5);
          box-shadow: inset 0 0 3px rgba(46, 61, 73, 0.5); }
        .main-content .content-notes #box-notes .note-one .upper-bar h3, .main-content .content-notes #box-notes .note-two .upper-bar h3, .main-content .content-notes #box-notes .note-three .upper-bar h3, .main-content .content-notes #box-notes .note-four .upper-bar h3, .main-content .content-notes #box-notes .note-five .upper-bar h3, .main-content .content-notes #box-notes .note-six .upper-bar h3, .main-content .content-notes #box-notes .note-seven .upper-bar h3, .main-content .content-notes #box-notes .note-eight .upper-bar h3 {
          margin: 0;
          padding-top: 0.5rem;
          text-align: center;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 500;
          font-family: "Roboto Slab", serif; }
      .main-content .content-notes #box-notes .note-one p, .main-content .content-notes #box-notes .note-two p, .main-content .content-notes #box-notes .note-three p, .main-content .content-notes #box-notes .note-four p, .main-content .content-notes #box-notes .note-five p, .main-content .content-notes #box-notes .note-six p, .main-content .content-notes #box-notes .note-seven p, .main-content .content-notes #box-notes .note-eight p {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-size: 1rem;
        font-family: "Roboto Slab", serif;
        text-transform: none;
        line-height: 1.6; }
    .main-content .content-notes #box-notes {
      width: 80%;
      display: block;
      margin: 5% auto; }
      .main-content .content-notes #box-notes .note-two {
        background-color: #FFE4B5; }
      .main-content .content-notes #box-notes .note-three {
        background-color: #B0C4DE; }
      .main-content .content-notes #box-notes .note-four {
        background-color: #87CEFA; }
      .main-content .content-notes #box-notes .note-five {
        background-color: #F0E68C; }
      .main-content .content-notes #box-notes .note-six {
        background-color: #7FFFD4; }
      .main-content .content-notes #box-notes .note-seven {
        background-color: #FFC0CB; }
      .main-content .content-notes #box-notes .note-eight {
        background-color: #FA8072; }
  .main-content .small-line {
    width: 10%;
    position: relative;
    top: -1.5rem;
    height: 0.5px;
    border: 1px solid #16A085;
    background-color: #16A085; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .main-content .content-notes h1, .main-content .content-notes .modal-content h4, .modal-content .main-content .content-notes h4, .main-content .content-notes .image-wrapper .overlay h2, .image-wrapper .overlay .main-content .content-notes h2, .main-content .content-notes .image-wrapper .overlay p, .image-wrapper .overlay .main-content .content-notes p {
      font-size: 1.35rem; }
    .main-content .content-notes #box-notes .note-one, .main-content .content-notes #box-notes .note-two, .main-content .content-notes #box-notes .note-three, .main-content .content-notes #box-notes .note-four, .main-content .content-notes #box-notes .note-five, .main-content .content-notes #box-notes .note-six, .main-content .content-notes #box-notes .note-seven, .main-content .content-notes #box-notes .note-eight {
      width: 100%;
      margin-bottom: 4%; }
      .main-content .content-notes #box-notes .note-one .upper-bar h3, .main-content .content-notes #box-notes .note-two .upper-bar h3, .main-content .content-notes #box-notes .note-three .upper-bar h3, .main-content .content-notes #box-notes .note-four .upper-bar h3, .main-content .content-notes #box-notes .note-five .upper-bar h3, .main-content .content-notes #box-notes .note-six .upper-bar h3, .main-content .content-notes #box-notes .note-seven .upper-bar h3, .main-content .content-notes #box-notes .note-eight .upper-bar h3 {
        font-size: 0.9rem; }
      .main-content .content-notes #box-notes .note-one p, .main-content .content-notes #box-notes .note-two p, .main-content .content-notes #box-notes .note-three p, .main-content .content-notes #box-notes .note-four p, .main-content .content-notes #box-notes .note-five p, .main-content .content-notes #box-notes .note-six p, .main-content .content-notes #box-notes .note-seven p, .main-content .content-notes #box-notes .note-eight p {
        font-size: 0.9rem; }
    .main-content .small-line {
      position: relative;
      top: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 922px) {
    .main-content .content-notes h1, .main-content .content-notes .modal-content h4, .modal-content .main-content .content-notes h4, .main-content .content-notes .image-wrapper .overlay h2, .image-wrapper .overlay .main-content .content-notes h2, .main-content .content-notes .image-wrapper .overlay p, .image-wrapper .overlay .main-content .content-notes p {
      font-size: 1.50rem; }
    .main-content .content-notes #box-notes .note-one, .main-content .content-notes #box-notes .note-two, .main-content .content-notes #box-notes .note-three, .main-content .content-notes #box-notes .note-four, .main-content .content-notes #box-notes .note-five, .main-content .content-notes #box-notes .note-six, .main-content .content-notes #box-notes .note-seven, .main-content .content-notes #box-notes .note-eight {
      width: 48%; }
      .main-content .content-notes #box-notes .note-one .upper-bar h3, .main-content .content-notes #box-notes .note-two .upper-bar h3, .main-content .content-notes #box-notes .note-three .upper-bar h3, .main-content .content-notes #box-notes .note-four .upper-bar h3, .main-content .content-notes #box-notes .note-five .upper-bar h3, .main-content .content-notes #box-notes .note-six .upper-bar h3, .main-content .content-notes #box-notes .note-seven .upper-bar h3, .main-content .content-notes #box-notes .note-eight .upper-bar h3 {
        font-size: 0.9rem; }
      .main-content .content-notes #box-notes .note-one p, .main-content .content-notes #box-notes .note-two p, .main-content .content-notes #box-notes .note-three p, .main-content .content-notes #box-notes .note-four p, .main-content .content-notes #box-notes .note-five p, .main-content .content-notes #box-notes .note-six p, .main-content .content-notes #box-notes .note-seven p, .main-content .content-notes #box-notes .note-eight p {
        font-size: 0.9rem; }
    .main-content .small-line {
      position: relative;
      top: -0.7rem; } }
  @media only screen and (min-width: 922px) and (max-width: 1200px) {
    .main-content .content-notes h1, .main-content .content-notes .modal-content h4, .modal-content .main-content .content-notes h4, .main-content .content-notes .image-wrapper .overlay h2, .image-wrapper .overlay .main-content .content-notes h2, .main-content .content-notes .image-wrapper .overlay p, .image-wrapper .overlay .main-content .content-notes p {
      font-size: 1.50rem; }
    .main-content .content-notes #box-notes .note-one, .main-content .content-notes #box-notes .note-two, .main-content .content-notes #box-notes .note-three, .main-content .content-notes #box-notes .note-four, .main-content .content-notes #box-notes .note-five, .main-content .content-notes #box-notes .note-six, .main-content .content-notes #box-notes .note-seven, .main-content .content-notes #box-notes .note-eight {
      width: 31%; }
      .main-content .content-notes #box-notes .note-one .upper-bar h3, .main-content .content-notes #box-notes .note-two .upper-bar h3, .main-content .content-notes #box-notes .note-three .upper-bar h3, .main-content .content-notes #box-notes .note-four .upper-bar h3, .main-content .content-notes #box-notes .note-five .upper-bar h3, .main-content .content-notes #box-notes .note-six .upper-bar h3, .main-content .content-notes #box-notes .note-seven .upper-bar h3, .main-content .content-notes #box-notes .note-eight .upper-bar h3 {
        font-size: 0.9rem; }
      .main-content .content-notes #box-notes .note-one p, .main-content .content-notes #box-notes .note-two p, .main-content .content-notes #box-notes .note-three p, .main-content .content-notes #box-notes .note-four p, .main-content .content-notes #box-notes .note-five p, .main-content .content-notes #box-notes .note-six p, .main-content .content-notes #box-notes .note-seven p, .main-content .content-notes #box-notes .note-eight p {
        font-size: 0.9rem; } }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .main-content .content-notes #box-notes .note-one, .main-content .content-notes #box-notes .note-two, .main-content .content-notes #box-notes .note-three, .main-content .content-notes #box-notes .note-four, .main-content .content-notes #box-notes .note-five, .main-content .content-notes #box-notes .note-six, .main-content .content-notes #box-notes .note-seven, .main-content .content-notes #box-notes .note-eight {
      width: 31%; } }
  @media only screen and (min-width: 1600px) {
    .main-content .content-notes h1, .main-content .content-notes .modal-content h4, .modal-content .main-content .content-notes h4, .main-content .content-notes .image-wrapper .overlay h2, .image-wrapper .overlay .main-content .content-notes h2, .main-content .content-notes .image-wrapper .overlay p, .image-wrapper .overlay .main-content .content-notes p {
      font-size: 2rem; }
    .main-content .content-notes #box-notes .note-one, .main-content .content-notes #box-notes .note-two, .main-content .content-notes #box-notes .note-three, .main-content .content-notes #box-notes .note-four, .main-content .content-notes #box-notes .note-five, .main-content .content-notes #box-notes .note-six, .main-content .content-notes #box-notes .note-seven, .main-content .content-notes #box-notes .note-eight {
      width: 18%; } }

.main-description {
  overflow: hidden;
  max-width: 180rem;
  margin: 0 auto; }
  .main-description h1, .main-description .modal-content h4, .modal-content .main-description h4, .main-description .image-wrapper .overlay h2, .image-wrapper .overlay .main-description h2, .main-description .image-wrapper .overlay p, .image-wrapper .overlay .main-description p {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 5%; }
  .main-description hr {
    width: 10%;
    height: 0.5px;
    border: 1px solid #16A085;
    background-color: #16A085; }
  .main-description .articles {
    width: 80%;
    display: block;
    margin: 3% auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    text-transform: none;
    line-height: 1.6; }
    .main-description .articles .left-article-wrapper, .main-description .articles .right-article-wrapper {
      width: 50%;
      float: left;
      padding-left: 2rem; }
      .main-description .articles .left-article-wrapper h3, .main-description .articles .right-article-wrapper h3 {
        margin-bottom: 0.7rem; }
      .main-description .articles .left-article-wrapper p, .main-description .articles .right-article-wrapper p {
        margin: 0; }
    .main-description .articles .right-article-wrapper {
      float: right;
      padding-left: 1.5rem; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .main-description h1, .main-description .modal-content h4, .modal-content .main-description h4, .main-description .image-wrapper .overlay h2, .image-wrapper .overlay .main-description h2, .main-description .image-wrapper .overlay p, .image-wrapper .overlay .main-description p {
      font-size: 1.35rem; }
    .main-description .articles {
      font-size: 0.8rem;
      width: 100%; }
      .main-description .articles .left-article-wrapper, .main-description .articles .right-article-wrapper {
        padding-left: 0.8rem; } }
  @media only screen and (min-width: 768px) and (max-width: 922px) {
    .main-description h1, .main-description .modal-content h4, .modal-content .main-description h4, .main-description .image-wrapper .overlay h2, .image-wrapper .overlay .main-description h2, .main-description .image-wrapper .overlay p, .image-wrapper .overlay .main-description p {
      font-size: 1.50rem; }
    .main-description .articles {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 922px) and (max-width: 1200px) {
    .main-description h1, .main-description .modal-content h4, .modal-content .main-description h4, .main-description .image-wrapper .overlay h2, .image-wrapper .overlay .main-description h2, .main-description .image-wrapper .overlay p, .image-wrapper .overlay .main-description p {
      font-size: 1.50rem; }
    .main-description .articles {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 1600px) {
    .main-description h1, .main-description .modal-content h4, .modal-content .main-description h4, .main-description .image-wrapper .overlay h2, .image-wrapper .overlay .main-description h2, .main-description .image-wrapper .overlay p, .image-wrapper .overlay .main-description p {
      font-size: 2rem; }
    .main-description .articles {
      font-size: 1.2rem; } }

.contact-section {
  margin: 6% auto;
  width: 100%;
  max-width: 150rem;
  height: auto;
  background-color: #16A085;
  background: linear-gradient(to right, #2C3E50, #16A085);
  text-align: center; }
  .contact-section .contact-wrapper {
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1.2%;
    line-height: 1.6;
    font-family: "Roboto Slab", serif;
    color: #FFFFFF;
    font-size: 1.1rem; }
    .contact-section .contact-wrapper h1, .contact-section .contact-wrapper .modal-content h4, .modal-content .contact-section .contact-wrapper h4, .contact-section .contact-wrapper .image-wrapper .overlay h2, .image-wrapper .overlay .contact-section .contact-wrapper h2, .contact-section .contact-wrapper .image-wrapper .overlay p, .image-wrapper .overlay .contact-section .contact-wrapper p {
      padding: 0;
      margin: 0;
      position: relative;
      top: 0.5rem;
      font-weight: normal; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .contact-section .contact-wrapper {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 768px) and (max-width: 922px) {
    .contact-section .contact-wrapper {
      font-size: 1rem; } }
  @media only screen and (min-width: 922px) and (max-width: 1200px) {
    .contact-section .contact-wrapper {
      font-size: 1rem; } }
  @media only screen and (min-width: 1600px) {
    .contact-section .contact-wrapper {
      font-size: 1.2rem; } }

.footer {
  margin-top: 6.5%;
  padding: 0;
  border-top: 4px solid #16A085;
  width: 100%;
  height: auto;
  background-color: #2C3E50; }
  .footer .footer-container {
    margin: 0 auto;
    width: 100%;
    max-width: 185rem; }
  .footer .footer-logo {
    display: block;
    float: left;
    margin-top: 6%;
    margin-left: 13%; }
  .footer .footer-list ul {
    list-style: none;
    padding: 0;
    float: left;
    margin-top: 3.3%;
    margin-left: 6%; }
    .footer .footer-list ul .current {
      color: #16A085; }
  .footer .footer-list li {
    line-height: 2; }
  .footer .footer-list a {
    color: #FFFFFF;
    font-family: "Roboto Slab", serif;
    font-size: 0.9rem;
    text-decoration: none; }
    .footer .footer-list a:hover {
      color: #16A085;
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s; }
  .footer .footer-list .disabled {
    pointer-events: none;
    opacity: 0.5; }
  .footer .footer-social ul {
    list-style: none;
    float: left;
    padding: 0;
    margin-top: 5.8%;
    margin-left: 8%;
    width: 25%; }
  .footer .footer-social li {
    margin-left: 4%;
    display: block;
    float: left; }
  .footer .footer-social a.icon, .footer .footer-social a.icon:hover {
    background-repeat: no-repeat;
    background-size: 3.5rem;
    cursor: pointer;
    display: block;
    width: 3.5rem;
    height: 3.5rem; }
  .footer .footer-social .facebook {
    background: url("../../images/facebook-icon.png"); }
    .footer .footer-social .facebook:hover {
      background: url("../../images/facebook-icon-hover.png"); }
  .footer .footer-social .twitter {
    background: url("../../images/twitter-icon.png"); }
    .footer .footer-social .twitter:hover {
      background: url("../../images/twitter-icon-hover.png"); }
  .footer .footer-social .googleplus {
    background: url("../../images/googleplus-icon.png"); }
    .footer .footer-social .googleplus:hover {
      background: url("../../images/googleplus-icon-hover.png"); }
  .footer .footer-social .instagram {
    background: url("../../images/instagram-icon.png"); }
    .footer .footer-social .instagram:hover {
      background: url("../../images/instagram-icon-hover.png"); }
  .footer .footer-social .linkedin {
    background: url("../../images/linkedin-icon.png"); }
    .footer .footer-social .linkedin:hover {
      background: url("../../images/linkedin-icon-hover.png"); }
  .footer .footer-divider {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 74.5%;
    height: 1px;
    background-color: #16A085;
    border: 0 solid #16A085;
    overflow: hidden; }
  .footer h4 {
    margin: 0.7% 0 0 0;
    padding-bottom: 2rem;
    text-align: right;
    width: 87.3%;
    font-family: "Roboto Slab", serif;
    font-size: 0.9rem;
    font-weight: normal;
    color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
