//Just resseting the box-sizing of all elements including any pseudo-elements.
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
          -ms-box-sizing: inherit;
           -o-box-sizing: inherit;
              box-sizing: inherit;
    }

$bg-color: #2C3E50;
$text-color: #FFFFFF;
$hover-color: #16A085;

.navbar{
  margin-bottom: 1%;

  ul{
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  li{
    display: inline-block;
  }
  a{
    display: inline-block;
    color: $text-color;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    &:hover{
      background-color: $hover-color;
    }
  }

}
