//Just resseting the box-sizing of all elements including any pseudo-elements.
html{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after{
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
          -ms-box-sizing: inherit;
           -o-box-sizing: inherit;
              box-sizing: inherit;
    }

$bg-color: #2C3E50;
$text-color: #FFFFFF;
$hover-color: #16A085;
$font: 'Roboto Slab', serif;

.navbar{
  ul{
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  li{
    display: inline-block;
  }
  a{
    display: inline-block;
    color: $text-color;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: $font;
    border-bottom: 3px solid transparent;
    &:hover{
      color: $hover-color;
      border-bottom: 3px solid $hover-color;
    }
  }
  img{
    position: relative;
    top: 1.3rem;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.line{
    border: 0.7px solid $text-color;
    display: block;
    width: 400px;
    margin-bottom: 1%;
}
.divider{
  padding: 0;
  margin: 0;
  height: 5px;
  border: 1px solid $hover-color;
  background-color: $hover-color;
}
.introimg{
  width: 100%;
  height: auto;
}
