//Just resseting the box-sizing of all elements including any pseudo-elements.
html{
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after{
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
          -ms-box-sizing: inherit;
           -o-box-sizing: inherit;
              box-sizing: inherit;
    }

$bg-color: #2C3E50;
$text-color: #FFFFFF;
$hover-color: #16A085;
$font: 'Roboto Slab', serif;
$wrapper-bg-color: rgba(22, 160, 133, 0.7);
$content-bg-color: rgba(44,62,80, 0.9);
$box-shadow: rgba(46,61,73,0.5);
$mod-overlay-color: rgba(22, 160, 133, 0.5);
$contentlog-bg-color: rgba(44,62,80, 1);
$close-btn: #AC2925;

//Screen sizes for media queries
$sm-screen: 320px;
$md-screen: 768px;
$lg-screen: 922px;
$larger-screen: 1200px;
$extra-lg-screen: 1400px;
$huge-screen: 1600px;

@mixin box-shadow($box-shadow: 0 0 25px 2px $box-shadow){
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
@mixin box-focus($box-shadow: inset 0px 0px 5px 1px $wrapper-bg-color){
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
@mixin box-focus-btn($box-shadow: inset 0px 0px 5px 1px $bg-color){
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
@mixin rounded($radius: 0.2rem){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($trans: 0.3s){
  -webkit-transition-duration: $trans;
     -moz-transition-duration: $trans;
      -ms-transition-duration: $trans;
       -o-transition-duration: $trans;
          transition-duration: $trans;
}

body{
  background-color: $wrapper-bg-color;
}

.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: $mod-overlay-color;
}

.modal-box{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 20rem;
  max-width: 38rem;
  height: auto;
  max-height: 100%;
  background-color: $contentlog-bg-color;
  border: 3px solid $bg-color;
  @include rounded();
  z-index: 999;
}

.modal-content{
  width: 80%;
  display: block;
  margin: 5% auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  img{
    display: block;
    margin: 7% auto;
  }
  h1{
    font-family: $font;
    color: $hover-color;
    margin: 5% auto 3% auto;
    font-weight: normal;
    text-align: center
  }
  h4{
    @extend h1;
    font-weight: normal;
    color: $text-color;
    a{
      color: $hover-color;
      text-decoration: none;
      &:hover{
        color: $text-color;
        @include transition();
      }
    }
  }
  form{
    .login-button{
      margin-top: 2%;
      margin-bottom: 3%;
      float: left;
      width: 48%;
    }
    .close-button{
      float: right;
      @extend .login-button;
    }
  input[type]{
    width: 100%;
    margin-top: 5%;
    padding: 0.6rem 0.6rem;
    border: 1px solid $bg-color;
    @include rounded();
    outline: none;
    &:focus{
      @include box-focus();
    }
  }
  input[type=submit]{
    font-family: $font;
    cursor: pointer;
    background-color: $hover-color;
    color: $text-color;
    &:active{
      @include box-focus-btn();
    }
    &:hover{
      background-color: $text-color;
      color: $hover-color;
      @include transition();
    }
  }
  .close-btn{
    @extend input, [type];
    font-family: $font;
    cursor: pointer;
    background-color: $close-btn;
    color: $text-color;
    &:active{
      @include box-focus-btn();
    }
    &:hover{
      background-color: $text-color;
      color: $close-btn;
      @include transition();
    }
  }
  label{
    display: inline-block;
    width: 100%;
  }
  input[type=checkbox]{
    width: 0.9rem;
    height: 0.9rem;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -0.1rem;
  }
  .remember-me{
    font-family: $font;
    color: $text-color;
    padding-left: 2%;
    font-size: 0.9rem;
  }
  }
  @media only screen and (min-width: $sm-screen) and (max-width: $md-screen){
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 0.9rem;
  }
  @media only screen and (min-width: $huge-screen){
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.navbar{
  ul{
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  li{
    display: inline-block;
  }
  a{
    display: inline-block;
    color: $text-color;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: $font;
    border-bottom: 3px solid transparent;
    &:hover{
      color: $hover-color;
      border-bottom: 3px solid $hover-color;
    }
  }
  img{
    position: relative;
    top: 1.3rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .line{
      border: 0.7px solid $text-color;
      display: block;
      width: 400px;
      margin-bottom: 1%;
  }
  .disabled{
    pointer-events:none;
    opacity: 0.5;
  }
  @media only screen and (min-width: $sm-screen) and (max-width: $md-screen){
    .line{
    display: inline-block;
    margin-top: 0.7rem;
    }
    li{
      display: block;
    }
    a{
      border-bottom: none;
      &:hover{
        border-bottom: none;
      }
      &:last-child{
        padding-bottom: 1rem;
      }
      &:first-child{
        padding-top: 1rem;
      }
    }
    img{
      display: none;
    }
  }
  @media only screen and (min-width: $md-screen){
    .line{
      width: 100px;
    }
  }
  @media only screen and (min-width: $lg-screen){
    .line{
      width: 180px;
    }
  }
  @media only screen and (min-width: $larger-screen){
    .line{
      width: 300px;
    }
  }
  @media only screen and (min-width: $extra-lg-screen){
    .line{
      width: 400px;
    }
  }
  @media only screen and (min-width: $huge-screen){
    .line{
      width: 500px;
    }
  }
}

.divider-before-section{
  padding: 0;
  margin: 0;
  height: 5px;
  border: 1px solid $hover-color;
  background-color: $hover-color;
}

.main-wrapper{
  margin-top: 5%;
  margin-bottom: 5%;
  .main-content-wrapper{
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 47rem;
    min-width: 20rem;
    height: auto;
    background-color: $content-bg-color;
    border: 3px solid $bg-color;
    @include rounded();
    @include box-shadow();
  }
  .main-content{
    width: 80%;
    display: block;
    margin: 5% auto;
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 5.2rem;
    padding-right: 5.2rem;
    img{
      display: block;
      margin: 0 auto;
    }
    h1{
      font-family: $font;
      color: $hover-color;
      margin: 5% auto 3% auto;
      font-weight: normal;
    }
    h3{
      @extend h1;
      margin: 2% auto 3% auto;
    }
    h4{
      @extend h1;
      font-weight: normal;
      margin-top: 8%;
      color: $text-color;
      a{
        color: $hover-color;
        text-decoration: underline;
        &:hover{
          color: $text-color;
          @include transition();
        }
      }
    }
    form{
      .first-name{
        float: left;
        width: 48%;
      }
      .last-name{
        float: right;
        width: 48%;
      }
    input[type]{
      width: 100%;
      margin-top: 5%;
      padding: 0.6rem 0.6rem;
      border: 1px solid $bg-color;
      @include rounded();
      outline: none;
      &:focus{
        @include box-focus();
      }
    }
    input[type=submit]{
      font-family: $font;
      cursor: pointer;
      background-color: $hover-color;
      color: $text-color;
      &:active{
        @include box-focus-btn();
      }
      &:hover{
        background-color: $text-color;
        color: $hover-color;
        @include transition();
      }
    }
    }
  }
  @media only screen and (min-width: $sm-screen) and (max-width: $md-screen){
    .main-content{
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      font-size: 0.9rem;
    }

  }
  @media only screen and (min-width: $md-screen) and (max-width: $lg-screen){
    .main-content{
      padding-left: 3rem;
      padding-right: 3rem;
      min-width: 30rem;
      font-size: 0.9rem;
    }
  }
  @media only screen and (min-width: $lg-screen) and (max-width: $larger-screen){
    .main-content{
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  @media only screen and (min-width: $huge-screen){
    .main-content{
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

.footer{
  margin-top: 6.5%;
  padding: 0;
  border-top: 4px solid $hover-color;
  width: 100%;
  height: auto;
  background-color: $bg-color;
  .footer-container{
    margin: 0 auto;
    width: 100%;
    max-width: 185rem;
  }
  .footer-logo{
  display: block;
  float: left;
  margin-top: 6%;
  margin-left: 13%;
  }
  .footer-list{
    ul{
      list-style: none;
      padding: 0;
      float: left;
      margin-top: 3.3%;
      margin-left: 6%;
      .current{
        color: $hover-color;
      }
    }
    li{
      line-height: 2;
    }
    a{
      color: $text-color;
      font-family: $font;
      font-size: 0.9rem;
      text-decoration: none;
      &:hover{
        color: $hover-color;
        @include transition();
      }
    }
    .disabled{
      pointer-events:none;
      opacity: 0.5;
    }
  }
  .footer-social{
    ul{
      list-style: none;
      float: left;
      padding: 0;
      margin-top: 5.8%;
      margin-left: 8%;
      width: 25%;
    }
    li{
      margin-left: 4%;
      display: block;
      float: left;
    }
    a.icon{
      background-repeat: no-repeat;
      background-size: 3.5rem;
      cursor: pointer;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      &:hover{
        @extend .icon;
      }
    }
    .facebook{
      background: url("../../images/facebook-icon.png");
      &:hover{
        background: url("../../images/facebook-icon-hover.png");
      }
    }
    .twitter{
      background: url("../../images/twitter-icon.png");
      &:hover{
        background: url("../../images/twitter-icon-hover.png");
      }
    }
    .googleplus{
      background: url("../../images/googleplus-icon.png");
      &:hover{
        background: url("../../images/googleplus-icon-hover.png");
      }
    }
    .instagram{
      background: url("../../images/instagram-icon.png");
      &:hover{
        background: url("../../images/instagram-icon-hover.png");
      }
    }
    .linkedin{
      background: url("../../images/linkedin-icon.png");
      &:hover{
        background: url("../../images/linkedin-icon-hover.png");
      }
    }
  }
  .footer-divider{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 74.5%;
    height: 1px;
    background-color: $hover-color;
    border: 0 solid $hover-color;
    overflow: hidden; //If there is no overflow it will position on the same place with
                      //the other elements in the footer.
  }
  h4{
    margin: 0.7% 0 0 0;
    padding-bottom: 2rem;
    text-align: right;
    width: 87.3%;
    font-family: $font;
    font-size: 0.9rem;
    font-weight: normal;
    color: $text-color;
  }
  @media only screen and (min-width: $sm-screen) and (max-width: $md-screen){
    .footer-container{
      width: 80%;
    }
    .footer-logo{
      float: none;
      margin: 7% 0 5% 0;
      padding: 0;
      img{
        display: block;
        margin: 0 auto;
        padding: 0;
      }
    }
    .footer-list{
      text-align: center;
      ul{
        float: none;
        margin: 2% auto;
        padding: 0;
      }
    }
    .footer-social{
      ul{
        float: none;
        margin: 6% auto;
        padding: 0;
      }
      li{
        float: none;
        margin: 5% auto;
        padding: 0;
      }
      a{
        display: block;
        margin: 0 auto;
        padding: 0;
      }
    }
    h4{
      font-size: 0.8rem;
    }
  }
  @media only screen and (min-width: $md-screen) and (max-width: $lg-screen){
    h4{
    font-size: 0.85rem;
    }
  }
  @media only screen and (min-width: $lg-screen) and (max-width: $larger-screen){
    h4{
    font-size: 0.85rem;
    }
  }
  @media only screen and (min-width: $huge-screen){
    h4{
    font-size: 1rem;
    }
  }
}
