$bg-color: #2C3E50;
$text-color: #FFFFFF;
$hover-color: #16A085;
$font: 'Roboto Slab', serif;
$overlay-color: rgba(44, 62, 80, 0.6);
$mod-overlay-color: rgba(22, 160, 133, 0.5);
$contentlog-bg-color: rgba(44,62,80, 1);
$content-bg-color: rgba(44,62,80, 0.9);
$wrapper-bg-color: rgba(22, 160, 133, 0.7);
$box-focus-color: rgba(22, 160, 133, 1);
$msection-color: #EEEFF1;
$note-color-one: $text-color;
$note-color-two: #FFE4B5;
$note-color-three: #B0C4DE;
$note-color-four: #87CEFA;
$note-color-five: #F0E68C;
$note-color-six: #7FFFD4;
$note-color-seven: #FFC0CB;
$note-color-eight: #FA8072;
$note-color-add: #DAA671;
$box-notes-shadow: rgba(46,61,73,0.5);
$box-shadow: rgba(46,61,73,0.5);
$close-btn: #AC2925;
//Screen sizes for media queries
$sm-screen: 320px;
$md-screen: 768px;
$lg-screen: 922px;
$larger-screen: 1200px;
$extra-lg-screen: 1400px;
$huge-screen: 1600px;
