.main-description{
  overflow: hidden;
  max-width: 180rem;
  margin: 0 auto;
  h1{
    font-size: 1.75rem;
    font-weight: 500;
    font-family: $font;
    text-align: center;
    margin-top: 5%;
  }
  hr{
    width:10%;
    height: 0.5px;
    border: 1px solid $hover-color;
    background-color: $hover-color;
  }
  .articles{
    width: 80%;
    display: block;
    margin: 3% auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1rem;
    font-family: $font;
    text-transform: none;
    line-height: 1.6;
    .left-article-wrapper{
      width: 50%;
      float: left;
      padding-left: 2rem;
      h3{
        margin-bottom: 0.7rem;
      }
      p{
        margin: 0;
      }
    }
    .right-article-wrapper{
      @extend .left-article-wrapper;
      float: right;
      padding-left: 1.5rem;
    }
  }
  @media only screen and (min-width: $sm-screen) and (max-width: $md-screen){
      h1{
        font-size: 1.35rem;
      }
      .articles{
        font-size: 0.8rem;
        width: 100%;
        .left-article-wrapper{
          padding-left: 0.8rem;
        }
      }
  }
  @media only screen and (min-width: $md-screen) and (max-width: $lg-screen){
      h1{
        font-size: 1.50rem;
      }
      .articles{
        font-size: 0.9rem;
      }
  }
  @media only screen and (min-width: $lg-screen) and (max-width: $larger-screen){
      h1{
        font-size: 1.50rem;
      }
      .articles{
        font-size: 0.9rem;
      }
  }
  @media only screen and (min-width: $huge-screen){
      h1{
        font-size: 2rem;
      }
      .articles{
        font-size: 1.2rem;
      }
  }
}
